<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <body>
    <div class="banner">
        <img class="austin-img" src="https://www.tfeconnect.com/wp-content/uploads/2016/07/texas.png" alt="Austin TX">
          <h1 class="rainbow-text">ADVENTURE-ATX</h1>
          <a class="newLink" href="/activities/new">Add New Activity</a><br>
          </div>
          <div class="container">
              <% for(let i = 0; i < activities.length; i++){ %>
                  <div class="card">
                  <li>

                    <a href="/activities/<%=activities[i].id; %>">   <img src="<%=activities[i].img; %>"/></a><br>
                    <h2><%=activities[i].name; %> <br></h2>
                      <h3>Description: <%=activities[i].description; %><br></h3>
                      Tags: <%=activities[i].tags; %>
                  </li>
                  <br>

                  <form action="/activities/<%=activities[i].id;%>?_method=DELETE" method="POST">
                  <input type="submit" value="DELETE" />
              </form> <br>
              <a href="/activities/<%=activities[i].id; %>/edit">Edit</a> <br>
                </div>
            <% } %>

      </div>
  </body>
</html>
