<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Syncopate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="banner">
        <img class="austin-img" src="https://www.tfeconnect.com/wp-content/uploads/2016/07/texas.png" alt="Austin TX">
          <h1 class="rainbow-text">adventure.ATX</h1>
          <a class="newLink" href="/activities/new">Add New Activity</a><br>
          </div>
          <div class="container">
              <% for(let i = 0; i < activities.length; i++){ %>
                  <div class="card">
                  <li>

                    <a href="/activities/<%=activities[i].id; %>">   <img src="<%=activities[i].img; %>"/></a><br>


                    <h2 class="activityText"><%=activities[i].name; %> <br></h2>
                      <h3 class="background"> <%=activities[i].description; %><br></h3>
                      <h3 class="rainbow-text tags">Tags: <%=activities[i].tags; %></h3>
                  </li>
                  <br>

                  <form action="/activities/<%=activities[i].id;%>?_method=DELETE" method="POST">
                  <input type="submit" value="DELETE" />
              </form> <br>
              <a href="/activities/<%=activities[i].id; %>/edit">Edit</a> <br>
              <br>

              </div>
            <% } %>

      </div>
  </body>
</html>
