<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="/">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Syncopate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-show">

          <h1 class="rainbow-text showh1"><%=activity.name; %></h1>
          <img class="showImg"src="<%=activity.img; %>">
          <h4><%=activity.description; %></h4>
          <form action="<%=activity.info; %>">
            <input class="newBtn" type="submit" value="MORE INFO" />
          </form>
          <h4> <%=activity.location; %></h4>
          <h4><%=activity.hours; %></h4>
          <!-- <a href="<%=activity.info; %>">More Info</a><br> -->
          <a href="/activities">Go Back</a>
      </div>
  </body>
</html>
