<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
        <h1>Activities in ATX</h1>
          <a class="activityLink" href="/activities/new">Add New Activity</a>
          <div class="cards">
              <% for(let i = 0; i < activities.length; i++){ %>
                  <li>
                      <%=activities[i].name; %> <br>
                    <a href="/activities/<%=activities[i].id; %>">   <img src="<%=activities[i].img; %>"/></a><br>
                      Description: <%=activities[i].description; %><br>
                      Tags: <%=activities[i].tags; %>
                  </li>
                  <br>
                  <form action="/activities/<%=activities[i].id;%>?_method=DELETE" method="POST">
                  <input type="submit" value="DELETE" />
              </form> <br>
              <a href="/activities/<%=activities[i].id; %>/edit">Edit</a> <br>
            <% } %>
        </div>
  </body>
</html>
